
body {
    color: cornflowerblue;
    background: 
      conic-gradient(from 210deg at 85% 10%, transparent 0 20deg, rgba(0, 0, 0, 0.177) 20deg 30deg,transparent 20deg 200deg, rgba(0, 0, 0, 0.221) 300deg),
      conic-gradient(from 220deg at 65% 60%, transparent 0 60deg, rgba(0, 0, 0, 0.221) 45deg),
      radial-gradient(circle at 5% 95%, rgba(38, 0, 0, 0.67) 100px, transparent 700px),
      repeating-linear-gradient(160deg, black 50px, rgba(15, 112, 192, 0.139) 600px, rgba(74, 74, 179, 0.208) 900px, black),
      repeating-linear-gradient(180deg, black 50px, rgba(15, 112, 192, 0.139) 600px, rgba(74, 74, 179, 0.208), transparent),
      radial-gradient(circle at 95% 95%, rgba(82, 28, 1, 0.743) 100px, transparent 300px),
      linear-gradient(70deg in hsl shorter hue, rgba(91, 2, 2, 0.319), rgba(2, 2, 76, 0.615), transparent),
      radial-gradient(circle at 80% 160%, transparent 0px 1400px, white 1400px 1401px, transparent 1401px),
      radial-gradient(circle at 40% 220%, transparent 0px 2000px, white 2000px 2001px, transparent 2001px),
      radial-gradient(circle at 100% 220%, transparent 0px 1400px, white 1400px 1401px, transparent 1401px),
      radial-gradient(at 90% 80%, steelblue 0% 5%, transparent 10%),
      radial-gradient(at 70% 70%, steelblue 0% 2%, transparent 15%),
      radial-gradient(circle at 90% 50%, steelblue 0% 2%, transparent 25%),
      radial-gradient(at 70% 80%, steelblue 0% 2%, transparent 15%),
      radial-gradient(at 70% 90%, steelblue 0% 3%,darkblue 8%, transparent 20%),
      radial-gradient(at 80% 90%, steelblue 0% 7%,darkblue 8%, transparent 25%);
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    td {
      height: 250px;
      vertical-align: top;
      font-size: 12px;
    }

}
main.cards>div.callout>div.callout-content>p {
  display: none;
}

main.wide.content {
  max-width: none;
}

div.active-note {
    background: transparent !important;
    box-shadow: 2px 3px 4px 0px steelblue;
}

main, .callout, #tooltip-content {
  padding: 2.5% !important;
  clip-path: polygon(
    20px 0px,
    calc(100% - 20px) 0px,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
  border: 4px double darkblue !important;
  box-shadow: 0px 0px 30px 5px inset rgba(70, 131, 180, 0.457) !important;
  background: 
  linear-gradient(
    225deg, 
   darkblue 10px 11px,
    transparent 11px 13px,
    darkblue 13px 14px,
    transparent 14px
  ),
  linear-gradient(
    315deg, 
   darkblue 10px 11px,
    transparent 11px 13px,
    darkblue 13px 14px,
    transparent 14px
  ),
  linear-gradient(
    45deg, 
   darkblue 10px 11px,
    transparent 11px 13px,
    darkblue 13px 14px,
    transparent 14px
  ),
  linear-gradient(
    135deg, 
   darkblue 10px 11px,
    transparent 11px 13px,
    darkblue 13px 14px,
    transparent 14px
  ),
  radial-gradient(70% 100px at bottom, rgba(137, 222, 255, 0.2), transparent),
  radial-gradient(
    40% 100px at top,
    rgba(137, 222, 255, 0.2) 1%,
    rgba(0, 9, 29, 0.576) 50%
  ) !important;
}
// h1, h2, h3, h4, h5, h6 {
//   color: cornflowerblue;
// }

// a {
//   color: steelblue;
// }

nav.filetree-sidebar {
  clip-path: polygon(
    0% 0px,
    0px 0%,
    calc(100% - 20px) 0px,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 0
  );
  background: 
  linear-gradient(
    225deg, 
    rgba(137, 222, 255, 0.5) 15px 16px,
    transparent 16px 21px,
    rgba(137, 222, 255, 0.5) 21px 22px,
    transparent 23px
  ),
  linear-gradient(
      315deg,
      rgba(137, 222, 255, 0.5) 15px 15px,
      transparent 16px,
      rgba(137, 222, 255, 0.5) 17px 18px,
      transparent 18px
    ),
    linear-gradient(
      to top,
      rgba(137, 222, 255) 0 0px,
      transparent 1px 3px,
      rgba(137, 222, 255) 3px 3px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      transparent 8px,
      rgba(137, 222, 255) 8px 8px,
      transparent 9px
    ),
    linear-gradient(to left, rgba(137, 222, 255) 0px 1px, transparent 2px),
    linear-gradient(
      to left,
      rgba(137, 222, 255, 0.1) 1% 10px,
      transparent 10px 100%
    ),
    radial-gradient(70% 100px at bottom, rgba(137, 222, 255, 0.2), transparent),
    radial-gradient(
      40% 100px at top,
      rgba(137, 222, 255, 0.2) 1%,
      rgba(0, 9, 29) 50%
    );
}
